html,
body {
  padding: 0;
  margin: 0 10px;
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

div#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

p {
  font-weight: 400;
}